  <!-- the catalogue -->
  <div class="col-sm-6 col-lg-3">         
      <div class="tile-bottom">
        <h2>The Catalogue</h2>
        <p>
          The History Centre catalogue contains information and descriptions to over 330,000 items in the archives and local studies collections. It does not include images of the documents themselves.
        </p>
        <!-- .links -->
        <div class="tile-btn-secondary">
          <%= link_to 'About the catalogue', 'about', :title=> 'Click to go to the about page'  %>
        </div>
      </div>
  </div>

  <div class="hr-alt visible-xs"></div>

<!-- collections -->
<div class="col-sm-6 col-lg-3">
  
  <div class="tile-bottom">
    <h2>Collections</h2>
    <p class="doc">
      The Hull History Centre houses collections of local, regional and national importance relating to the <%= link_to 'City of Hull', 'http://hullhistorycentre.org.uk/discover/hull_history_centre/our_collections/borough_and_city_records.aspx', :title=> 'Click to go to the city of Hull collection'  %> and the surrounding areas, <%= link_to "Hull's maritime history", 'http://hullhistorycentre.org.uk/discover/hull-history-centre/our-collections/maritime-history.aspx', :title=> 'Click to go to maritime history collection'  %>, political figures and <%= link_to 'pressure groups', 'http://hullhistorycentre.org.uk/discover/hull_history_centre/our_collections/politics.aspx', :title=> 'Click to go to the pressure groups collection'  %>, and prominent figures in <%= link_to 'literature and drama', 'http://hullhistorycentre.org.uk/discover/hull_history_centre/our_collections/modernliteratureanddrama.aspx', :title=> 'Click to go to the literature and drama collection'  %>.
    </p>
    <!-- <p>
      Check the <em>Our Collections</em> section of the main History Centre website to find out more
    </p> -->
    <!-- .collections links -->
    <!-- <div class="tile-btn-primary-3">
        <%#= link_to 'City of Hull', 'http://hullhistorycentre.org.uk/discover/hull_history_centre/our_collections/borough_and_city_records.aspx', :title=> 'Click to go to the city of Hull collection'  %>
    </div>
    <div class="tile-btn-primary-3">
        <%#= link_to 'Maritime history', 'http://hullhistorycentre.org.uk/discover/hull-history-centre/our-collections/maritime-history.aspx', :title=> 'Click to go to maritime history collection'  %>
    </div>
    <div class="tile-btn-primary-3">
        <%#= link_to 'Pressure groups', 'http://hullhistorycentre.org.uk/discover/hull_history_centre/our_collections/politics.aspx', :title=> 'Click to go to the pressure groups collection'  %>
    </div>
    <div class="tile-btn-primary-3">
        <%#= link_to 'Literature and drama', 'http://hullhistorycentre.org.uk/discover/hull_history_centre/our_collections/modernliteratureanddrama.aspx', :title=> 'Click to go to the literature and drama collection'  %>
    </div> -->
    <div class="tile-btn-primary-3">
        <%= link_to 'Our collections', 'http://hullhistorycentre.org.uk/discover/hullhistorycentre/ourcollections.aspx', :title=> 'Click to go to our collections'  %>
    </div>
  </div>

</div>

<div class="hr-alt visible-xs"></div>

<!-- help -->
<div class="col-sm-6 col-lg-3">
  
    <div class="tile-bottom">
      <h2 class="twitter-header-adjuster">Help</h2>
      <p class="doc">
       Our <%= link_to 'help page', 'help', :title => 'Click to go to the help page' %> contains information and tips on searching and using the catalogue to identify material relevant to your enquiry – whether it for family history, locals history or just curiously.
      </p><!-- help links -->
      <div class="tile-btn-secondary-4">
        <%= link_to 'Help page', 'help', :title=> 'Click to go to the help page'  %>
      </div>
      <!-- <div class="tile-btn-secondary-4">
          <%#= link_to 'Location', 'http://hullhistorycentre.org.uk/discover/hull_history_centre/visit_us/how_to_find_us.aspx', :title=> 'Click to see our location'  %>
      </div>
      <div class="tile-btn-secondary-4">
          <%#= link_to 'Planning a vist', 'http://hullhistorycentre.org.uk/discover/hull_history_centre/visit_us/planningyourvisit.aspx', :title=> 'Click to find out about planning your visit'  %>
      </div> -->
    </div>

</div>

<div class="hr-alt visible-xs"></div>

<!-- twitter -->
<div class="col-md-6 col-lg-3">
  <div class="tile-bottom">
    <%= render :partial => 'shared/home_tile_twitter' %>
  </div>
</div>