<div class='row'>
  <div class='col-md-12'>
    <img class="main-home-image" src="/assets/Logo438C.jpg"
         alt="Hull History Centre">
  </div>

  <div class='col-md-6'>
    <div class='story-box'>
      <h2> Story Box 1 </h2>

      <h4> Help Resources </h4>
      <ul>
        <li> <%= link_to 'Help link 1', '#' %> </li>
        <li> <%= link_to 'Help link 2', '#' %> </li>
        <li> <%= link_to 'Help link 3', '#' %> </li>
      </ul>

      <h4> Newly Cataloged Collections </h4>
      <ul>
        <li> <%= link_to 'Collection link 1', '#' %> </li>
        <li> <%= link_to 'Collection link 2', '#' %> </li>
      </ul>
    </div>
  </div>

  <div class='col-md-6'>
    <div class='story-box'>
      <h2> Story Box 2 </h2>

      <h4> Search Tips </h4>
      <ul>
        <li> Add an asterisk * for a wildcard search. </li>
        <li> Add a quotes "" to match an exact phrase. </li>
      </ul>

      <h4> Search Examples </h4>
      <dl>
        <dt> social* </dt>
        <dd> Add an asterisk to match words like "social", "socialite", and "socialism". </dd>

        <dt> social </dt>
        <dd> Search with no asterisk to exactly match "social". </dd>

        <dt> social science </dt>
        <dd> Search for items that contain both words "social" and "science". </dd>

        <dt> "social science" </dt>
        <dd> Add quotes to match the exact phrase "social science". </dd>
      </dl>
    </div>
  </div>

</div>
